<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="developerpage.css">
</head>
<body>

<main class="dev-container">
    <h1 class="dev-header">Thisplay 개발자 정보</h1>
    <section class="dev-list">

        <!-- Backend Team -->
        <div class="dev-group">
            <h3 class="dev-group-title">Backend</h3>

            <article class="dev-card">
                <div class="dev-info">
                    <h3>김선영</h3>
                    <dl class="dev-detail">
                        <div>
                            <dt>이메일</dt>
                            <dd><a href="mailto:kt28805546@gmail.com">kt28805546@gmail.com</a></dd>
                        </div>
                        <div>
                            <dt>GitHub</dt>
                            <dd><a href="https://github.com/syprisilla" target="_blank">github.com/syprisilla</a></dd>
                        </div>
                    </dl>
                </div>
            </article>

            <article class="dev-card">        
                <div class="dev-info">
                    <h3>이은교</h3> 
                    <dl class="dev-detail">
                        <div>
                            <dt>이메일</dt>
                            <dd><a href="mailto:dldmsry0119@chungbuk.ac.kr">dldmsry0119@chungbuk.ac.kr</a></dd>
                        </div>
                        <div>
                            <dt>GitHub</dt>
                            <dd><a href="https://github.com/euungyo" target="_blank">github.com/euungyo</a></dd>
                        </div>
                    </dl>
                </div>
            </article>

            <article class="dev-card">        
                <div class="dev-info">
                    <h3>최희진</h3>
                    <dl class="dev-detail">
                        <div>
                            <dt>이메일</dt>
                            <dd><a href="mailto:osisland2918@gmail.com">osisland2918@gmail.com</a></dd>
                        </div>
                        <div>
                            <dt>GitHub</dt>
                            <dd><a href="https://github.com/HJ1263532" target="_blank">github.com/HJ1263532</a></dd>
                        </div>
                    </dl>
                </div>
            </article>
        </div> 



        <!-- Frontend Team -->
        <div class="dev-group">
            <h3 class="dev-group-title">Frontend</h3>

            <article class="dev-card">        
                <div class="dev-info">
                    <h3>박지영</h3>
                    <dl class="dev-detail">
                        <div>
                            <dt>이메일</dt>
                            <dd><a href="mailto:kdio@chungbuk.ac.kr">kdio@chungbuk.ac.kr</a></dd>
                        </div>
                        <div>
                            <dt>GitHub</dt>
                            <dd><a href="https://github.com/PJY00" target="_blank">github.com/PJY00</a></dd>
                        </div>
                    </dl>
                </div>
            </article>

            <article class="dev-card">        
                <div class="dev-info">
                    <h3>전수영</h3>
                    <dl class="dev-detail">
                        <div>
                            <dt>이메일</dt>
                            <dd><a href="mailto:jsooyoung05@gmail.com">jsooyoung05@gmail.com</a></dd>
                        </div>
                        <div>
                            <dt>GitHub</dt>
                            <dd><a href="https://github.com/Jeonsooyoung" target="_blank">github.com/Jeonsooyoung</a></dd>
                        </div>
                    </dl>
                </div>
            </article>

        </div> 

    </section>
</main>

<footer class="dev-footer">
    <p>&copy; 2025 Thisplay Team. All rights reserved.</p>
</footer>

    <script type="module" src="../navbar/navbarDOM.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
    <script type="module" src="../../static/js/api/axiosInstance.js"></script>
    <script type="module" src="./developerpage.js"></script>
</body>
</html>