<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="edit-profile.css">
</head>
<body>
    <div class="profile-edit-wrapper">
        <!-- 오른쪽 -->
        <main class="profile-content">

            <section class="profile-card">
                <div class="loading">불러오는 중...</div>
            </section>

        </main>

    </div>
     <script type="module" src="../navbar/navbarDOM.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
    <script type="module" src="../../static/js/api/axiosInstance.js"></script>
    <script type="module" src="./edit-profile.js"></script>
</body>
</html>