<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="faq.css">
</head>
<body>
     <div class="faq-wrapper">
        <main class="faq-content">
            <header class="faq-header">
                <h2>FAQ</h2>
            </header>


            <section class="faq-items" id="faqList"></section>
        </main>
    </div>

    <!-- 공통 네비바 -->
    <script type="module" src="../navbar/navbarDOM.js"></script>

    <script type="module" src="../navbar/navbarDOM.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
    <script type="module" src="../../static/js/api/axiosInstance.js"></script>
    <script type="module" src="./faq.js"></script>
</body>
</html>