<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="settingspage.css">
</head>

<body>
    <section class="my-profile">
        <button id="profileBtn">
            <img src="https://png.pngtree.com/element_our/20200610/ourmid/pngtree-character-default-avatar-image_2237203.jpg"
                alt="기본 프로필">
            <span id="profilename">이름</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="none" viewBox="0 0 47 47">
            </svg>
        </button>
    </section>
    <hr>
    <section class="settings">
        <nav class="settings-menu">
            <a href="edit-profile.html" class="menu-item">회원정보 수정</a>
            <a href="/change-fontsize" class="menu-item">글씨 크기 바꾸기</a>
            <a href="faq.html" class="menu-item">FAQ</a>
            <a href="../notice/notice-list.html" class="menu-item">공지사항</a>
            <a href="developerpage.html" class="menu-item">개발자 정보</a>
        </nav>
    </section>
    <hr>
    <button id="logout">로그아웃</button>

    <script type="module" src="../navbar/navbarDOM.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
    <script type="module" src="axiosInstance.js"></script>
    <script type="module" src="settingspage.js"></script>
</body>

</html>