<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thisplay</title>
</head>

<body>
    <aside class="review-list">
        <h3>나의 감상평</h3>
        <details class="reviewlist-class">
            <summary>내 리뷰 영화 목록</summary>
            <ul></ul>
        </details>

    </aside>

    <!-- 오른쪽 콘텐츠 영역 -->
    <main class="review-content">
        <h2>리뷰 내용들</h2>
        <div class="review-items">
            <p>리뷰 내용들</p>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
    <script type="module" src="../../static/js/api/axiosInstance.js"></script>
    <script type="module" src="./reviewlist.js"></script>
</body>

</html>