<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <aside class="review-list">
        <h3>나의 감상평</h3>
        <details class="reviewlist-class">
            <summary>디즈니</summary>
            <ul>
                <li><a href="/review/id" class="movie">인사이드 아웃2</a></li>
                <li><a href="/review/id" class="movie">모아나</a></li>
                <li><a href="/review/id" class="movie">겨울왕국</a></li>
                <li><a href="/review/id" class="movie">주토피아2</a></li>
            </ul>
        </details>
        <details class="reviewlist-class">
            <summary>지브리</summary>
        </details>
        <details class="reviewlist-class">
            <summary>개웃긴 영화</summary>
        </details>
        <details class="reviewlist-class">
            <summary>치키니의 인생작</summary>
        </details>
        <details class="reviewlist-class">
            <summary>OST가 좋은 영화</summary>
        </details>
        <details class="reviewlist-class">
            <summary>코난</summary>
        </details>
    </aside>

</body>

</html>