<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <div class="writingwrap">
            <div class="writingheader">
                <a href="#">
                    등록
                </a>
            </div>
            <div class="writingcontent">
                <div class="writingeditor">
                    <label>제목</label><br>
                    <input type="text" placeholder="제목을 입력하세요">
                    <br>

                    <label>별점</label>
                    <input type="number" min="1" max="5">

                    <br>

                    <label></label>
                    <textarea rows="5" placeholder="여러분의 감상평을 작성해주세요"></textarea><br>

                    <button type="submit">저장하기</button>
                    <hr>
                    <label></label>
                    <textarea rows="5" placeholder="이 영화를 한 줄로 말한다면.."></textarea><br>
                </div>
                <div class="writingside">
                    <label>
                        <input type="radio" name="visibility" value="public">
                        전체 공개
                    </label>
                    <label>
                        <input type="radio" name="visibility" value="friends">
                        친구에게만 공개
                    </label>
                    <label>
                        <input type="radio" name="visibility" value="private">
                        나에게만 공개
                    </label>
                </div>
            </div>

        </div>
    </section>
</body>

</html>