<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Thisplay - 공지 작성</title>
    <link rel="stylesheet" href="./notice-write.css" />
  </head>

  <body>
    <div class="write-wrapper container">
      <!-- 상단: 제목 -->
      <div class="write-header">
        <h1>공지 작성</h1>

        <div class="write-actions">
          <button class="temp-btn">임시등록</button>
          <button id="writeSubmit" class="submit-btn">등록</button>
        </div>
      </div>

      <!-- 제목 입력 -->
      <div class="write-title-box">
        <input
          type="text"
          id="writeTitle"
          placeholder="제목을 입력해 주세요."
        />
      </div>

      <!-- 내용 입력 -->
      <div class="write-content-box">
        <textarea
          id="writeContent"
          placeholder="내용을 입력해 주세요."
        ></textarea>
      </div>
    </div>

    <script type="module" src="./notice-write.js"></script>
  </body>
</html>
