<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Thisplay - 공지사항</title>
    <link rel="stylesheet" href="./notice.css" />
  </head>

  <body>
    <div class="notice-wrapper container">
      <h1 class="notice-title">공지사항</h1>

      <!-- 검색 -->
      <div class="notice-search">
        <input type="text" placeholder="검색어를 입력하세요" />
        <button class="search-btn"><i class="uil uil-search"></i></button>
      </div>

      <!-- 리스트 -->
      <ul class="notice-list">
        <!-- 공지 Example -->
        <li class="notice-item">
          <div class="notice-left">
            <span class="notice-tag">공지</span>
            <a href="./notice-detail.html" class="notice-text"
              >서비스 점검 안내 (12/10)</a
            >
          </div>
          <div class="notice-right">
            <span class="notice-date">2024.12.10</span>
            <i class="uil uil-angle-right-b arrow-icon"></i>
          </div>
        </li>
      </ul>

      <!-- 페이지네이션 -->
      <div class="notice-pagination">
        <span class="page active">1</span>
        <span class="page">2</span>
        <span class="page">3</span>
        <span class="page"> ▶ </span>
      </div>
    </div>
  </body>
</html>
