<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thisplay</title>
</head>
<body>
<section>
    <div class="trans-wrapper">
        <h6 class="trans-text">
            <span>Log In</span>
            <span>Sign Up</span>
        </h6>
        <input type="checkbox" class="checkbox" id="reg-log" name="reg-log" />
        <label for="reg-log"></label>
    </div>
    <div class="card-wrapper">
        <div class="card-login">
            <h4>Log In</h4>
            <form action="/login" method="POST">
                <div class="for-username">
                    <input
                            type="text"
                            name="log-username"
                            placeholder="Username"
                            class="form-style"
                            id="log-usernmae"
                            autocomplete="off"
                    />
                </div>
                <div class="password">
                    <input
                            type="password"
                            name="log-password"
                            placeholder="Password"
                            class="form-style"
                            id="log-password"
                            autocomplete="off"
                    />
                </div>
                <button>로그인</button>
            </form>
        </div>
        <div class="card-signup">
            <h4>Sign Up</h4>
            <form action="/signup" method="post">
                <div class="for-username">
                    <input
                            type="text"
                            name="sign-username"
                            id="sign-username"
                            placeholder="Username"
                            class="form-style"
                            autocomplete="off"
                    />
                </div>
                <div class="password">
                    <input
                            type="password"
                            name="sign-password"
                            placeholder="Password"
                            class="form-style"
                            id="sign-password"
                            autocomplete="off"
                    />
                </div>
                <div class="password-check">
                    <input
                            type="password"
                            name="sign-password-check"
                            placeholder="Password Again"
                            class="form-style"
                            id="sign-password-check"
                            autocomplete="off"
                    />
                </div>
                <button>회원가입</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>
