<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thisplay</title>
    <link rel="stylesheet" href="./mainpage.css">
</head>

<body>
    <header class="header-bar">
        <nav class="header-nav-menu">
            <a class="nav-item" href="/mainpage">로고</a>
            <a class="nav-item" href="/mypage">마이페이지</a>
            <a class="nav-item" href="/friend">친구</a>
            <a class="nav-item" href="/login">로그인</a>
            <a class="nav-item" href="/settings">설정</a>
        </nav>
    </header>
    <hr>
    <main class="main_content">
        <section class="search">
            <h2>검색창</h2>
            <search>
                <form action="/search">
                    <input type="search" id="movie" name="q" placeholder="검색어를 입력하세요" />
                    <button type="submit">Search</button>
                </form>
            </search>
        </section>
        <hr>
        <section class="movielist">
            <label for="genre-select">장르 선택:</label>
            <select id="genre-select">
                <option value="28">액션</option>
                <option value="12">모험</option>
                <option value="16">애니메이션</option>
                <option value="35">코미디</option>
                <option value="18">드라마</option>
                <option value="10749">로맨스</option>
                <option value="27">공포</option>
                <option value="878">SF</option>
            </select>
        </section>

        <section class="card-container" id="movie-container"></section>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
        <script src="axiosInstance.js"></script>
        <script src="app.js"></script>
        <script src="./js/mainpage.js"></script>
</body>

</html>