<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/profile">프로필 수정 페이지</a>
    <hr>
    <section class="myreviewlist">
        <h3>사용자의 감상평</h3>
        <div class="cardwrapper">
            <div class="review-card">
                <a href="/review">review1</a>
                <div class="rating">별점</div>
            </div>
            <div class="review-card">
                <a href="/review">review2</a>
                <div class="rating">별점</div>
            </div>
            <div class="review-card">
                <a href="/review">review3</a>
                <div class="rating">별점</div>
            </div>
            <div class="review-card">
                <a href="/review">review4</a>
                <div class="rating">별점</div>
            </div>
        </div>
    </section>
    <hr>
    <section class="myfolderlist">
        <h3>사용자의 폴더</h3>
        <div class="cardwrapper">
            <div class="folder-card">
                <a href="/folder">folder1</a>
                <div class="folder-name">폴더명</div>
            </div>
            <div class="folder-card">
                <a href="/folder">folder2</a>
                <div class="folder-name">폴더명</div>
            </div>
            <div class="folder-card">
                <a href="/folder">folder3</a>
                <div class="folder-name">폴더명</div>
            </div>
            <div class="folder-card">
                <a href="/folder">folder4</a>
                <div class="folder-name">폴더명</div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
    <script src="axiosInstance.js"></script>

</body>

</html>