<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="search-nickname">
        <search>
            <form action="/nickname-search">
                <input type="search" id="nickname" name="q" placeholder="닉네임으로 친구 검색" />
                <button type="submit">Search</button>
            </form>
        </search>
    </section>
    <section class="recommend-friend">
        <h3>추천 친구</h3>
        <div class="friend-item">
            이동진 평론가
            <button class="add-friend">친구 추가</button>
        </div>
        <div class="friend-item">
            양념치킨
            <button class="add-friend">친구 추가</button>
        </div>
        <div class="friend-item">
            도시락 속 치킨
            <button class="add-friend">친구 추가</button>
        </div>
    </section>
</body>

</html>