<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="friendlist">
        <h3>
            내 친구 리스트 <div class="friendcount">42</div>
        </h3>
        <div class="friend-item">이새우
            <button class="un-friend">친구에서 빼기</button>
            <button class="friend-block">친구 차단</button>
        </div>
        <div class="friend-item">뿌링클
            <button class="un-friend">친구에서 빼기</button>
            <button class="friend-block">친구 차단</button>
        </div>
        <div class="friend-item">허니콤보
            <button class="un-friend">친구에서 빼기</button>
            <button class="friend-block">친구 차단</button>
        </div>
        <div class="friend-item">황금올리브
            <button class="un-friend">친구에서 빼기</button>
            <button class="friend-block">친구 차단</button>
        </div>
    </section>
</body>

</html>